.root {
  position: relative;

  .input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid gray;
    outline: none;
    width: 300px;

    @media (max-width: 900px) {
      width: initial;
    }
  }

  .container {
    position: absolute;
    background: #32323c;
    border: 1px solid rgb(70, 70, 80);
    border-radius: 4px;
    width: 900px;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 1;
    transition: opacity 0.2s;

    @media (max-width: 1000px) {
      position: fixed;
      left: 50vw;
      transform: translateX(-50%);
      top: 40px;
      width: 50vw;
    }

    &[data-display="false"] {
      opacity: 0;
    }

    .noResults {
      font-size: 22px;
      text-align: center;
      padding: 6px;
    }
  }
}
