a {
  color: rgb(173, 183, 230);
  text-decoration: none;
}

html {
  color-scheme: dark;
}

body {
  background: rgb(30, 30, 35);
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
