.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .container {
    display: flex;
    flex-direction: column;
    background: rgb(40, 40, 45);
    padding: 10px;
    border-radius: 4px;
    gap: 10px;

    .header {
      font-size: 20px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
